.playlist_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
    background-color: #1c1d1c;
    margin: 0 10px 0 10px;
}

h1,
h2,
h3 {
  color: #fff;
}

main {
    background-color:#010001;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
