---
import "../styles/style.css";
import Card from "../components/Card.astro";
import Nav from "../components/Nav.astro";
import Button  from "../components/Button.astro";
import Playlist_header from "../components/Playlist_header.astro";
import Mainlayout from "../layouts/Mainlayout.astro";
import Sidemenu1 from "../components/Sidemenu1.astro"
---
<Mainlayout title="Hjem">
	<Sidemenu1></Sidemenu1>
	<Playlist_header header="Spotify-playlister" text ="Vis alle">
	</Playlist_header>
	<section class="playlist_grid">
		<Card header="Today's Top..." text="Zach Bryan & Kacer Musgrav...">
			<img src="/65-150x150.jpg" alt="Playlist image">
		</Card>
		<Card header="RapCaviar" text="New music from Doja Cat, Lil Tecca ">
			<img src="/68-150x150.jpg" alt="Playlist image">
		</Card>
		<Card header="All out 2010s" text="The biggest songs of the 2010s.">
			<img src="/76-150x150.jpg" alt="Playlist image">
		</Card>
		<Card header="Rock Classics" text="Rock legends & epic songs that continue t...">
			<img src="/240-150x150.jpg" alt="Playlist image">
		</Card>
		<Card header="Chill Hits" text="Kick back to the best new and recent chill...">
			<img src="/325-150x150.jpg" alt="Playlist image">
		</Card>
		<Card header="Viva Latino" text="Today's top Latin hits, elevando nues...">
			<img src="/331-150x150.jpg" alt="Playlist image">
		</Card>
	</section>
</Mainlayout>
