---
const {variant, text} = Astro.props;
---
<a class={variant} href="/search">
    <slot />
    {text}
</a>

<style>
    a {
        text-decoration: none;
        color: white;
        padding: 10px;
    }
</style>

