---
const {header, text} = Astro.props;
---
<article>
    <h1>{header}</h1>
    <p>{text}</p>
</article>

<style>
    article {
        display: flex;
        justify-content: space-between;
        gap:1em;
        background-color:#1c1d1c;
        margin:0 10px 0 10px;
    }

    p {
        color: #929393;
    }
</style>