---
import Iconlinks from "../components/Iconlinks.astro";
---
<div>
    <Iconlinks variant="spotifylogo" text="Spotify">
        <img src="logo-alt.svg" alt="Spotify logo">
    </Iconlinks>
    <Iconlinks text="Hjem">
        <img src="home.svg" alt="Spotify logo">
    </Iconlinks>
    <Iconlinks text="Søg">
        <img src="search-icon.svg" alt="Spotify logo">
    </Iconlinks>
</div>

<style>
    div {
        display:flex;
        flex-direction:column;
        background-color:#1c1d1c;
        height:300px;
    }
</style>