---
import Iconlinks from "../components/Iconlinks.astro";
---

<Iconlinks variant="spotifylogo">
    <img src="logo.svg" alt="Spotify logo">
</Iconlinks>
<Iconlinks>
    <img src="search-icon.svg" alt="Spotify logo">
</Iconlinks>
<Iconlinks>
    <img src="home.svg" alt="Spotify logo">
</Iconlinks>


<!-- <div>
    <img class="spotifylogo" src="../../public/logo.svg" alt="Spotify logo">
    <img src="../../public/home.svg" alt="Home icon">
    <img src="../../public/search-icon.svg" alt="Search icon">
</div>

<style>
    .spotifylogo {
        width:80px;
    }
</style> -->